node_modules
coverage
.nyc_output
.DS_Store
*.mid
.idea/
.vscode/
.npmrc

*BAK*
/docs
/jsdoc
jsdoc-config.json
typedoc-out.json
/src/ClipParams.ts
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
